.dash-board {
    margin-top: 50px;
  }
  
  .dash-board a {
    text-decoration: none;
    color: lightgray;
  }
  
  .dash-board .create {
    font-size: 20px;
  }
  
  .dash-board .create:hover {
    color: rgb(224, 194, 18);
  }