#signupform {
    width: 60%;
    top: 15%;
    left: 34%;
  }
  
  
  #signup label {
    width: 30%;
  }
  
  #signup input {
    width: 80%;
    height: 50px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 26px;
    font-family: "Average Sans", sans-serif;
  }
  
  #signup,
  .create-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #signup .field {
    width: 42%;
    display: flex;
    // flex-wrap: wrap;
    align-items: flex-start;
  }
  
  #signup .field span {
    font-size: 36px;
    margin-right: 6px;
    color: rgb(214, 91, 91);
  }

  #signup .field  .notreq {
    margin-left: 18px;
  }

  #signup .loginbtn {
    width: 100%;
    margin-top: 2px;
  }
  #signup .loginbtn button {
    font-family: "Average Sans", sans-serif;
    margin-left: 50px;
    background: none;
    color: rgb(241, 241, 241);
    font-size: 30px;
    border: none;
    outline: none;
  }

  #signup .errorMsg {
    font-size: 26px;
    color: rgb(233, 84, 84);
  }